:root
{
  min-height: 200vh;
  overflow-y: scroll;
}

body
{
  margin-top: 4rem;
}

.accordion-item
{
  border-color: #ccc;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.2);
}

.form-control[type="text"]
{
  border-color: #ccc;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
}