color-scheme: dark;
    --bs-body-color: #dee2e6;
    --bs-body-color-rgb: 222, 226, 230;
    --bs-body-bg: #212529;
    --bs-body-bg-rgb: 33, 37, 41;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-secondary-color: rgba(222, 226, 230, 0.75);
    --bs-secondary-color-rgb: 222, 226, 230;
    --bs-secondary-bg: #343a40;
    --bs-secondary-bg-rgb: 52, 58, 64;
    --bs-tertiary-color: rgba(222, 226, 230, 0.5);
    --bs-tertiary-color-rgb: 222, 226, 230;
    --bs-tertiary-bg: rgb(42.5, 47.5, 52.5);
    --bs-tertiary-bg-rgb: 43, 48, 53;
    --bs-primary-text-emphasis: rgb(109.8, 168, 253.8);
    --bs-secondary-text-emphasis: rgb(166.8, 172.2, 177);
    --bs-success-text-emphasis: rgb(117, 183, 152.4);
    --bs-info-text-emphasis: rgb(109.8, 223.2, 246);
    --bs-warning-text-emphasis: rgb(255, 217.8, 106.2);
    --bs-danger-text-emphasis: rgb(234, 133.8, 143.4);
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #dee2e6;
    --bs-primary-bg-subtle: rgb(2.6, 22, 50.6);
    --bs-secondary-bg-subtle: rgb(21.6, 23.4, 25);
    --bs-success-bg-subtle: rgb(5, 27, 16.8);
    --bs-info-bg-subtle: rgb(2.6, 40.4, 48);
    --bs-warning-bg-subtle: rgb(51, 38.6, 1.4);
    --bs-danger-bg-subtle: rgb(44, 10.6, 13.8);
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: rgb(7.8, 66, 151.8);
    --bs-secondary-border-subtle: rgb(64.8, 70.2, 75);
    --bs-success-border-subtle: rgb(15, 81, 50.4);
    --bs-info-border-subtle: rgb(7.8, 121.2, 144);
    --bs-warning-border-subtle: rgb(153, 115.8, 4.2);
    --bs-danger-border-subtle: rgb(132, 31.8, 41.4);
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-heading-color: inherit;
    --bs-link-color: rgb(109.8, 168, 253.8);
    --bs-link-hover-color: rgb(138.84, 185.4, 254.04);
    --bs-link-color-rgb: 110, 168, 254;
    --bs-link-hover-color-rgb: 139, 185, 254;
    --bs-code-color: rgb(230.4, 132.6, 181.2);
    --bs-highlight-color: #dee2e6;
    --bs-highlight-bg: rgb(102, 77.2, 2.8);
    --bs-border-color: #495057;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-form-valid-color: rgb(117, 183, 152.4);
    --bs-form-valid-border-color: rgb(117, 183, 152.4);
    --bs-form-invalid-color: rgb(234, 133.8, 143.4);
    --bs-form-invalid-border-color: rgb(234, 133.8, 143.4);








.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
    --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
    --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
    --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
    --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
    --bs-navbar-toggler-border-radius: var(--bs-border-radius);
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}